@page "/"

<PageTitle>Index</PageTitle>
<div class="px-3">
    <h1>LAN Messenger</h1>

    This is a basic chat messenger between users or into a group chat where everyone has access to 
    even those not logged in.
    <br/>
    Some of the features are:
    <ul>
        <li>Group Chat for everyone</li>
        <li>Private chats between each user</li>
        <li>Persistent storage of messages into a database</li>
        <li>Realtime updates of new chat messages</li>
        <li>Login system (Although very simple implementation)</li>
    </ul>

    Some things that could be improved for the future
    <ul>
        <li>Secure login/logout and server calls</li>
        <li>Signup</li>
        <li>Delete messages</li>
        <li>Lazy loading/pagination of messages</li>
    </ul>
</div>
