@inherits LayoutComponentBase
@implements IDisposable
@inject IJSRuntime JS

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            <CascadingValue Value="@AnonUser" Name="AnonUser">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code{
    private static readonly UserDTO AnonUser = new UserDTO
    {
        Id = 2,
        username = "Anon"
    };
    private UserDTO user = AnonUser;
    private SessionStorage sessionStorage;

    protected override void OnInitialized()
    {
        sessionStorage = new(JS);
        IntializeUser();
    }

    private async Task IntializeUser()
    {
        string? currentUser = await sessionStorage.GetItem("currentUser");
        if(currentUser is null || currentUser == string.Empty)
        {
            await sessionStorage.SetItem("currentUser", JsonSerializer.Serialize<UserDTO>(AnonUser));
        } 
    }

    public void Dispose() { sessionStorage?.Dispose(); }
}